{% extends 'base.html.twig' %}

{% block body %}
    <h2>Universe</h2>
    <h3>Cards package</h3>
    <div class="row package">
        {% for card in poker.cards.package %}
            <div class="card" attr-value="{{ card }}"></div>
        {% endfor %}
    </div>

    <h3>Cards Calibration</h3>
    <div class="row rolling">
        {% for card in poker.cards.package %}
            {% if loop.last %}
                <div class="card total-card" attr-value="{{ card }}"></div>
            {% else %}
                <div class="card cut-card" attr-value="{{ card }}"></div>
            {% endif %}
        {% endfor %}
    </div>
    <br />
    <div class="row rolling">
        {% for card in poker.cards.package %}
            {% if loop.last %}
                <div class="card total-card {{ card }}" attr-value="{{ card }}"></div>
            {% else %}
                <div class="card cut-card {{ card }}" attr-value="{{ card }}"></div>
            {% endif %}
        {% endfor %}
    </div>
    <br />

    <h3>Cards in hand</h3>
    <div class="row">
        {% for card in poker.cards.package|slice(1, 5) %}
            <div class="card in-hand-{{ loop.index }} {{ card }}" attr-value="{{ card }}"></div>
        {% endfor %}
        {% for card in poker.cards.package|slice(1, 5) %}
            <div class="card in-hand-{{ loop.index }}" attr-value="{{ card }}"></div>
        {% endfor %}
    </div>

    <br /><br />

    <h3>Listing</h3>
    <div class="row">
    {% for card in poker.cards.package %}
        <div class="card {{ card }}" attr-value="{{ card }}"></div>
    {% endfor %}
    </div>
{% endblock %}
