{% extends 'layout/jquery.html.twig' %}

{% block body %}

    <h2>LAB</h2>
    <div class="row">
        <ul>
            <li><a href="{{ path('analyzer') }}">Analyzer</a></li>
            <li><a href="{{ path('home_card') }}">Jeu de Cartes</a></li>
            <li><a href="{{ path('front_react') }}">React</a></li>
            <li><a href="{{ path('front_vue') }}">Vue</a></li>
            <li><a href="{{ path('front_angular') }}">Angular</a></li>
        </ul>
    </div>

{% endblock %}